<launch>
    <arg name="config_fn" default="/home/test-u18/catkin_ws/src/WSR-Toolbox-cpp/config/config_3D_SAR.json" />
    <arg name="d_type" default="gt" />


<node pkg="wsr_toolbox_cpp" name="main_pub" type="main_pub.py" output="screen">
	<param name="config_fn" value="$(arg config_fn)" />
	<param name="d_type" value="$(arg d_type)" />
</node>

</launch>
